* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e8f1f8;
  line-height: 1.5;
  font-size: 0.875rem;
}

/* btn */
.menu-bar {
  background-color: cadetblue;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30rem;
  padding-right: 2rem;
  height: 80px;
}
input {
  width: 24rem;
  height: 2.5rem;
  border-radius: 8rem;
  padding-left: 1rem;
  border: none;
  font-size: 18px;
  background: #d6e6f1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar-toggle {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  /* color: var(--clr-primary-5);
  transition: var(--transition); */
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
}
.sidebar-toggle:hover {
  color: rgb(69, 126, 212);
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  120% {
    transform: scale(1);
  }
}
@media screen and (max-width: 800px) {
  .menu-bar {
    padding-left: 6rem;
  }
  input {
    margin-right: 2rem;
  }
}

/* sidebar */

.sidebar-header {
  background: rgb(135, 187, 189);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 5rem;
}
.close-btn {
  font-size: 1rem;
  background: transparent;
  border-color: transparent;
  color: purple;
  transition: 0.3 ease-in-out;
  cursor: pointer;
  padding: 8px;
  border: 4px solid purple;
  border-radius: 3rem;
}
.close-btn:hover {
  color: gold;
  transform: rotate(360deg);
}
.logo {
  justify-self: center;
  height: 120px;
  width: 120px;
  border-radius: 100%;
}

.links a {
  display: inline-block;
  font-size: 1.2rem;
  text-transform: capitalize;
  padding: 1rem;
  color: purple;
  transition: 0.3s linear;
}
.links a:hover {
  background: #e8f1f8;
  color: gold;
  padding-left: 1.75rem;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: cadetblue;
  grid-template-rows: 1fr 1fr auto;
  row-gap: 1rem;
  box-shadow: purple;

  /* border: 2px solid rgb(32, 29, 32); */
  border-radius: 0.5rem;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translate(-100%);
  overflow: hidden;
}
.show-sidebar {
  transform: translate(0);
}
@media screen and (min-width: 676px) {
  .sidebar {
    width: 400px;
  }
}

.btn-container {
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.filterBtn {
  background: transparent;
  padding: 0.375rem 0.75rem;
  letter-spacing: 0.1rem;
  display: inline-block;
  transition: all 0.3s linear;
  font-size: 0.875rem;
  border-radius: 1rem;
  margin: 2px;
}
.filterBtn:hover {
  color: burlywood;
  background-color: black;
}
/* section */

.section-center {
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  gap: 2rem 1rem;
  justify-items: center;
}

.menu-item {
  padding: 1rem;
  background: #ffffff;
  max-width: 20rem;
  display: grid;
  border-radius: 1rem;
}
.photo {
  object-fit: cover;
  height: 200px;
  width: 300px;
  border-radius: 0.5rem;

  /* filter: blur(0.5px); */
}

.item-info header {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px dotted gray;
}
.item-info h4 {
  color: purple;
  font-size: 18px;
  margin-bottom: 0.6rem;
}
.price {
  color: purple;
}
.item-text {
  margin-bottom: 0;
  padding-top: 1rem;
}
a {
  text-decoration: none;
  color: purple;
}
@media screen and (min-width: 800px) {
  .section-center {
    width: 95vw;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .photo {
    height: 150px;
  }
}
@media screen and (min-width: 768px) {
  /* .menu-item {
    grid-template-columns: 225px 1fr;

    gap: 0 1.25rem;
    /* max-height: 40rem; */
  .item-info {
    margin-top: 0.5rem;
  }
}
